services:
  jellyfin:
    image: linuxserver/jellyfin:10.11.5
    container_name: jellyfin
    restart: unless-stopped

    ports:
      - "8096:8096"

    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Recife

    volumes:
      - ./config/jellyfin:/config
      - ./cache/jellyfin:/cache
      - /home/easypanel/media:/media 

  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped

    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"

    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Recife
      - WEBUI_PORT=8080

    volumes:
      - ./config/qbittorrent:/config
      - /home/easypanel/media:/downloads
